body{
    margin: 0;
    padding: 0;
    background-color: #F4F5F3;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.nav-bar{
    background-color: #0097A4;
    overflow: hidden;
}
.logo {
    float: left;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    line-height: 40px;
}
.nav-links{
    float:right;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links li{
    float: left;
}
.nav-links li a{
    display: block;
     color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: Arial, sans-serif;

}
.body{
    clear: both;
}
.small-container{
    width: 65%;
    height: 500px;
    margin: 0 auto;
}
.small-container .searchinput{
    text-align: center;
    padding-top: 15px;
}
.small-container .searchinput .searchTxt{
    width: 95%;
    font-size: 18px;
}

.small-container .card{
    width: 200px;
    background-color: #fff;
    border-radius: 15px;
    margin: 15px;
    text-align: center;
    display: inline-block;
}
.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3{
    margin: 10px 0 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
}

.card .price{
    font-weight: bold;
    margin-bottom: 12px;
    text-align: left;
    padding-left: 15px;
}

.addBtn{
    width: 90%;
    padding: 8px;
    background-color: #0097A4;
    color: white;
    border:none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin: 8px;
}

.favBtn{
    width: 90%;
    padding: 8px;
    background-color: #0097A4;
    color: white;
    border:none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 8px;
}

.removeBtn{
    width: 90%;
    padding: 8px;
    background-color: #0097A4;
    color: white;
    border:none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 8px;
}

.plus{
    background-color: #0097A4;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    

}
.minus{
    background-color: #0097A4;
    color: white;
    font-size: 18px;
     border: none;
    border-radius: 5px;
    width: 20px;
}